%% -*- mode: erlang -*-
[
  {kernel, [
    {error_logger, {file, "log/kernel.log"}}
  ]},

  {sasl, [
    {sasl_error_logger, {file, "log/sasl.log"}},
    {error_logger_mf_dir, "log"},
    {error_logger_mf_maxbytes, 10485760},
    {error_logger_mf_maxfiles, 10},
    {errlog_type, all}
  ]},

  {sb, [
    {http, [
      {port, 8282},
      {routes, [
		{"/css/[...]", cowboy_static, {dir, "css"}},
		{"/", cowboy_static, {file, "priv/index.html"}},
		{"/sb/[...]", cowboy_static, { dir, "priv"}},
		{"/images/[...]", cowboy_static, {dir, "images"}},
		{"/js/[...]", cowboy_static, {dir, "js"}},

		{"/state/:id", state_resource_handler, []},
		{"/sse/:id", sse_resource_handler, []}
%%
%%                 {"/feed/:feed/teams", feed_all_teams_resource, []},
%%                 {"/feed/:feed/teams/:id", feed_teams_resource, []},
%%                 {"/feed/:feed/fixtures/:id", feed_fixtures_resource, []},
%%
%%                 {"/", all_resource, []}
      ]}
    ]}
]}
].
